<div class="container">
  <div class="row">
    <h2>Notes</h2>
    <% @notes.each do |note| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= note.title %></h3>
      </div>
      <div class="panel-body">
        <%= note.content.truncate(140) %>
        <a href="/notes/<%= note.id %>">Read more</a>
      </div>
    </div>
    <% end %>
  </div>

  <hr>
</div> <!-- /container -->
